{% extends 'main.html' %}

{% block content %}
<h1>Inventario de {{bodega}} para {{el_tipo_producto}}:</h1>


<div>
    <div>
        <div class="row">
                <div class="col-sm">
                    <h3>Productos en {{bodega}}</h3>
                    {% for k, v in conteo_prod.items %}
                    <strong><a href="{% url 'la_referencia' %}?idBodega={{id_bodega}}&refer={{k}}&elEstado=4">{{k}}</a>:</strong> {{v}} <br><! -- Productos en {{k}}: {{v}} -->
                    {% endfor %}
                    <br>
                </div>
                <div class="col-sm">
                    <h3>Productos en tránsito hacia {{bodega}}</h3>
                    {% for k, v in conteo_prod_enTransito.items %}
                    <strong><a href="{% url 'la_referencia' %}?idBodega={{id_bodega}}&refer={{k}}&elEstado=2">{{k}}</a>:</strong> {{v}} <br><! -- Productos en {{k}}: {{v}} -->
                    {% endfor %}
                </div>
        </div>
    </div>
</div>


{% endblock content %}