{% extends 'main.html' %}

{% block content %}
<h1>Inventario de todas las bodegas para {{el_tipo_producto}}:</h1>
<br><br>


<div class="row gy-5 g-xl-10">
    <div class="col-xl-4">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title align-items-start flex-column">Productos en bodegas</h3>
            </div>
            <div class="card-body pt-4">

    {% for k, v in conteo_prod.items %}
    <!--begin::Item-->
    <div class="d-flex flex-stack">
        <div class="d-flex align-items-center me-5">
            <div class="me-5">
                <span class="text-gray-800 fw-bold text-hover-primary fs-6">{{k}}</span>
            </div>            
        </div>
        <div class="text-gray-500 fw-bold fs-7 text-end">{{v}}</div>
    </div>
    <!--end::Item-->
    {% if not forloop.last %}
    <!--begin::Separator-->
    <div class="separator separator-dashed my-5"></div>
    <!--end::Separator-->
    {% endif %}
    {% endfor %}
                
            </div>
        </div>

    </div>



    <div class="col-xl-4">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title align-items-start flex-column">Productos en tránsito</h3>
            </div>
            <div class="card-body pt-4">

    {% for k, v in conteo_prod_enTransito.items %}
    <!--begin::Item-->
    <div class="d-flex flex-stack">
        <div class="d-flex align-items-center me-5">
            <div class="me-5">
                <span class="text-gray-800 fw-bold text-hover-primary fs-6">{{k}}</span>
            </div>            
        </div>
        <div class="text-gray-500 fw-bold fs-7 text-end">{{v}}</div>
    </div>
    <!--end::Item-->
    {% if not forloop.last %}
    <!--begin::Separator-->
    <div class="separator separator-dashed my-5"></div>
    <!--end::Separator-->
    {% endif %}
    {% endfor %}
                
            </div>
        </div>
        
    </div>



    <div class="col-xl-4">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title align-items-start flex-column">Total productos (bodegas + tránsito)</h3>
            </div>
            <div class="card-body pt-4">

    {% for k, v in conteo_total.items %}
    <!--begin::Item-->
    <div class="d-flex flex-stack">
        <div class="d-flex align-items-center me-5">
            <div class="me-5">
                <span class="text-gray-800 fw-bold text-hover-primary fs-6">{{k}}</span>
            </div>            
        </div>
        <div class="text-gray-500 fw-bold fs-7 text-end">{{v}}</div>
    </div>
    <!--end::Item-->
    {% if not forloop.last %}
    <!--begin::Separator-->
    <div class="separator separator-dashed my-5"></div>
    <!--end::Separator-->
    {% endif %}
    {% endfor %}
                
    <br>
    <a href="{% url 'excel_on_click' %}?id_producto={{el_pk}}" class="btn btn-primary">Descargar Excel</a>
            </div>
        </div>
    
    </div>
</div>


<br><br><br>


<div class="row gy-5 g-xl-10">
    <div class="col-xl-4">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title align-items-start flex-column">Ir a bodega</h3>
            </div>
            <div class="card-body pt-4">

                <form method="GET" action="/bodega_producto/">
                    {% csrf_token %}
                    <select id="nom_bodega" name="nom_bodega" class="form-control" style="max-width: 300px;">
                        {% for k, v in listado_bodegas.items %}
                        <option value="{{k}}">{{v}}</option>
                        {% endfor %}
                    </select>
                    <input type="hidden" id="tipoProducto" name="tipoProducto" value="{{el_pk}}">
                    <br>
                    <input type="submit" value="Ir a bodega" class="btn btn-primary">
                </form>

                
            </div>
        </div>

    </div>
</div>
<br>

{% endblock content %}