{% extends 'main.html' %}

{% block content %}
<h1>Dashboard</h1>
<div>

    <div>
        <h3>Inventario por bodega:</h3>
        <div>{% for k, v in conteo_zipped %}
                <div>Productos en {{k}}: {{v}}</div>
                    <div>{% for k2, v2 in v.items %}
                        <div># Productos {{k2}}: {{v2}}</div>
                        {% endfor %}
                    </div>
            {% endfor %}
        </div>
    </div>
</div>
<div>
    <br>
    <form method="POST" action="/transferencias_stock/">
        {% csrf_token %}
        <div>
        {{form}}
        <br>
        <input type="submit" value="Ingresar" class="btn btn-primary">
    </form>
</div>
{% endblock content %}