{% extends 'main.html' %}

{% block content %}

<div>
    <h2>Seleccione código</h2>
    <br>
    <div class="alert alert-primary w-50 p-3" role="alert">
    Seleccione el código de <strong>{{las_referencias.0.tipo}}</strong> que desea ingresar
    </div>
    <br>
    {% for ref in las_referencias %}
    <div>{{ref}} <a href="/ingreso_productos/ingreso_manual/{{ref.id}}" class="link-underline-primary">Ingreso manual</a> | Ingreso con código QR</div>
    {% endfor %}
</div>
{% endblock content %}